@import 'tailwindcss';
@plugin "tailwindcss-motion";

@import '../styles/button.css';

@theme {
	--font-poppins: 'Poppins', 'sans-serif';
	--font-ibm: 'IBM Plex Mono', monospace;

	--color-theme-orange: #ff953f;
	--color-theme-purple: #974ef2;
	--color-theme-base-content: #451e11;
	--color-theme-base-content-variant: #977669;
	--color-theme-base-content-variant-2: #2b1400;
	--color-theme-ffdcc3: #ffdcc3;
	--color-theme-white: #fdfcfc;
	--color-theme-ffb381: #ffb381;
	--color-theme-eaddd7: #eaddd7;
	--color-theme-57433c: #57433c;
	--color-theme-453530: #453530;
}
